PORT=3000
# Meta WhatsApp Cloud API
WHATSAPP_GRAPH_VERSION=v23.0
WHATSAPP_ACCESS_TOKEN=PUT_YOUR_META_ACCESS_TOKEN_HERE
WHATSAPP_PHONE_NUMBER_ID=PUT_YOUR_PHONE_NUMBER_ID_HERE
WHATSAPP_TEMPLATE_NAME=appointment_reminder
WHATSAPP_TEMPLATE_LANGUAGE=ar
REMINDER_SEND_TIME=10:00
